@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@100&display=swap');
*{
  font-family: 'Chivo Mono', monospace;

}
html, body{
  box-sizing: border-box;
  margin: 0 auto;

}
body{
  width: 50%;
  padding: 5px;
}
.header--btn{
  display: flex;
  flex-direction:row;
  justify-content: space-between;
}
button{
  border: 2px solid black;
  background: none;
  padding: 5px 15px}

  nav{
  margin-top: 5px;
  margin-bottom: 10px;
  width: 100%;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  }
  .nav--ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding-right: 40px;
    margin: 5px 0;

}
.main--text{
  display:block;
  margin: 0 auto;
  margin-bottom: 8px;
  width: 80%;
  border: 2px solid black;
  font-size: 1.5em;
}
